@model IEnumerable<LivrariaMVC.Models.Livro>

<h1>Lista de Livros</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Titulo)</th>
            <th>@Html.DisplayNameFor(model => model.Autor1)</th>
            <th>@Html.DisplayNameFor(model => model.Editora)</th>
            <th>@Html.DisplayNameFor(model => model.AnoLancamento)</th>
            <th>@Html.DisplayNameFor(model => model.PrecoSugerido)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Titulo)</td>
                <td>@Html.DisplayFor(modelItem => item.Autor1)</td>
                <td>@Html.DisplayFor(modelItem => item.Editora)</td>
                <td>@Html.DisplayFor(modelItem => item.AnoLancamento)</td>
                <td>@Html.DisplayFor(modelItem => item.PrecoSugerido)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>